body, html {
	height: 100%;
	width: 100%;
	background: white;
	font-family: 'Finger Paint', cursive;
}

img {
	width: 100%;
	height: 100%;
}

button {
	position: relative;
	color: red;
	background: yellow;
}



.title {
	z-index: 10;
	position: absolute;
	background: black;
	height: 100%;
}

.title>button {
	top: -100px;
}

.title>img {
	position: relative;
}

.playerselect {
	z-index: 9;
	width: 100%;
	height: 100%;
	position: absolute;
	background: black;
}

.enemyselect {
	z-index: 8;
	width: 100%;
	height: 100%;
	position: absolute;
	background: black;
}

.stage {
	position: relative;
	width: 100%;
	height: 100%;
}

.panel {
	background: yellow;
}

.holder {
	display: inline-block;
	position: absolute;
	bottom: 10%;
}

.player.holder {
	left: 15%;
}

.enemy.holder {
	right: 15%;
	transform: scaleX(-1);
}

.health {
	background: yellow;
	border: 3px solid white;
	width: 20%;
	height: 5%;
	position: absolute;
	top: 10%;
}

.player.health {
	left: 10%;
}

.enemy.health {
	right: 10%;
}

.healthloss {
	background: red;
	width: 100%;
	height: 100%;
}

.outcome {
	font-family: 'Finger Paint', cursive;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	font-size: 80px;
	color: red;
}

.playerselectable {
	position: absolute;
	left: 0%;
	padding: 0;
	height: 100%;
}

.playerselectable:nth-of-type(2) {
	position: absolute;
	left: 50%;
}

.enemyselectable {
	position: absolute;
	left: 0%;
	padding: 0;
}

.enemyselectable:nth-of-type(2) {
	position: absolute;
	left: 25%;
}

.enemyselectable:nth-of-type(3) {
	position: absolute;
	left: 50%;
}

.enemyselectable:nth-of-type(4) {
	position: absolute;
	left: 75%;
}

.defeated {
	opacity: .25;
}


